TechAgent.API/bin/Debug/net9.0/Anthropic.SDK.dll
TechAgent.API/bin/Debug/net9.0/ChilliCream.Nitro.App.dll
TechAgent.API/bin/Debug/net9.0/Google.Protobuf.dll
TechAgent.API/bin/Debug/net9.0/GreenDonut.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/GreenDonut.Data.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/GreenDonut.Data.dll
TechAgent.API/bin/Debug/net9.0/GreenDonut.Data.Primitives.dll
TechAgent.API/bin/Debug/net9.0/GreenDonut.dll
TechAgent.API/bin/Debug/net9.0/Grpc.Core.Api.dll
TechAgent.API/bin/Debug/net9.0/Grpc.Net.Client.dll
TechAgent.API/bin/Debug/net9.0/Grpc.Net.Common.dll
TechAgent.API/bin/Debug/net9.0/Hangfire.AspNetCore.dll
TechAgent.API/bin/Debug/net9.0/Hangfire.Core.dll
TechAgent.API/bin/Debug/net9.0/Hangfire.MemoryStorage.dll
TechAgent.API/bin/Debug/net9.0/Hangfire.NetCore.dll
TechAgent.API/bin/Debug/net9.0/Hangfire.SqlServer.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.AspNetCore.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.AspNetCore.Pipeline.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Authorization.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Buffers.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Buffers.Text.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Caching.Memory.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.CostAnalysis.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Data.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Execution.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Execution.Configuration.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Execution.Operation.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Execution.Pipeline.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Execution.Projections.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Features.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Fusion.Language.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Fusion.Utilities.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Language.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Language.SyntaxTree.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Language.Utf8.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Language.Visitors.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Language.Web.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.PersistedOperations.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.PersistedOperations.Pipeline.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Primitives.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Subscriptions.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Subscriptions.InMemory.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Text.Json.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Transport.Formatters.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Transport.Sockets.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Types.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Types.CursorPagination.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Types.CursorPagination.Extensions.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Types.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Types.Errors.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Types.Mutations.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Types.Queries.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Types.Scalars.Upload.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Utilities.DependencyInjection.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Utilities.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Utilities.Tasks.dll
TechAgent.API/bin/Debug/net9.0/HotChocolate.Validation.dll
TechAgent.API/bin/Debug/net9.0/Humanizer.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Build.Locator.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Design.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.AI.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.Caching.Hybrid.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.FileProviders.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.Hosting.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.ObjectPool.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
TechAgent.API/bin/Debug/net9.0/Microsoft.OpenApi.dll
TechAgent.API/bin/Debug/net9.0/Mono.TextTemplating.dll
TechAgent.API/bin/Debug/net9.0/Newtonsoft.Json.dll
TechAgent.API/bin/Debug/net9.0/Npgsql.dll
TechAgent.API/bin/Debug/net9.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
TechAgent.API/bin/Debug/net9.0/OpenAI.dll
TechAgent.API/bin/Debug/net9.0/Qdrant.Client.dll
TechAgent.API/bin/Debug/net9.0/System.ClientModel.dll
TechAgent.API/bin/Debug/net9.0/System.CodeDom.dll
TechAgent.API/bin/Debug/net9.0/System.Composition.AttributedModel.dll
TechAgent.API/bin/Debug/net9.0/System.Composition.Convention.dll
TechAgent.API/bin/Debug/net9.0/System.Composition.Hosting.dll
TechAgent.API/bin/Debug/net9.0/System.Composition.Runtime.dll
TechAgent.API/bin/Debug/net9.0/System.Composition.TypedParts.dll
TechAgent.API/bin/Debug/net9.0/System.Diagnostics.DiagnosticSource.dll
TechAgent.API/bin/Debug/net9.0/System.IO.Hashing.dll
TechAgent.API/bin/Debug/net9.0/System.IO.Pipelines.dll
TechAgent.API/bin/Debug/net9.0/System.Memory.Data.dll
TechAgent.API/bin/Debug/net9.0/System.Net.ServerSentEvents.dll
TechAgent.API/bin/Debug/net9.0/System.ServiceModel.Syndication.dll
TechAgent.API/bin/Debug/net9.0/System.Text.Encodings.Web.dll
TechAgent.API/bin/Debug/net9.0/System.Text.Json.dll
TechAgent.API/.DS_Store
.zshrcx.zshrcx
TechAgent.API/bin/Debug/net9.0/TechAgent
TechAgent.API/bin/Debug/net9.0/TechAgent.deps.json
TechAgent.API/bin/Debug/net9.0/TechAgent.dll
TechAgent.API/bin/Debug/net9.0/TechAgent.pdb
TechAgent.API/bin/Debug/net9.0/TechAgent.runtimeconfig.json
TechAgent.API/bin/Debug/net9.0/TechAgent.staticwebassets.endpoints.json
TechAgent.API/bin/Debug/net9.0/UglyToad.PdfPig.Core.dll
TechAgent.API/bin/Debug/net9.0/UglyToad.PdfPig.dll
TechAgent.API/bin/Debug/net9.0/UglyToad.PdfPig.DocumentLayoutAnalysis.dll
TechAgent.API/bin/Debug/net9.0/UglyToad.PdfPig.Fonts.dll
TechAgent.API/bin/Debug/net9.0/UglyToad.PdfPig.Package.dll
TechAgent.API/bin/Debug/net9.0/UglyToad.PdfPig.Tokenization.dll
TechAgent.API/bin/Debug/net9.0/UglyToad.PdfPig.Tokens.dll
TechAgent.API/bin/Debug/net9.0/Yarp.ReverseProxy.dll
TechAgent.API/bin/Debug/net9.0/ca/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/de/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/es/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/fa/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/fr/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/nb/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/nl/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/pt/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/pt-BR/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/pt-PT/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
TechAgent.API/bin/Debug/net9.0/runtimes/win/lib/net9.0/System.Text.Encodings.Web.dll
TechAgent.API/bin/Debug/net9.0/sv/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/tr-TR/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/zh/Hangfire.Core.resources.dll
TechAgent.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
TechAgent.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
TechAgent.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
TechAgent.API/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
TechAgent.API/bin/Debug/net9.0/zh-TW/Hangfire.Core.resources.dll
TechAgent.API/obj/.DS_Store
TechAgent.API/obj/project.assets.json
TechAgent.API/obj/project.nuget.cache
TechAgent.API/obj/TechAgent.csproj.EntityFrameworkCore.targets
TechAgent.API/obj/TechAgent.csproj.nuget.dgspec.json
TechAgent.API/obj/TechAgent.csproj.nuget.g.props
TechAgent.API/obj/TechAgent.csproj.nuget.g.targets
TechAgent.API/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
TechAgent.API/obj/Debug/net9.0/apphost
TechAgent.API/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
TechAgent.API/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
TechAgent.API/obj/Debug/net9.0/rpswa.dswa.cache.json
TechAgent.API/obj/Debug/net9.0/staticwebassets.build.endpoints.json
TechAgent.API/obj/Debug/net9.0/staticwebassets.build.json
TechAgent.API/obj/Debug/net9.0/staticwebassets.build.json.cache
TechAgent.API/obj/Debug/net9.0/TechAgent.AssemblyInfo.cs
TechAgent.API/obj/Debug/net9.0/TechAgent.AssemblyInfoInputs.cache
TechAgent.API/obj/Debug/net9.0/TechAgent.assets.cache
TechAgent.API/obj/Debug/net9.0/TechAgent.csproj.AssemblyReference.cache
TechAgent.API/obj/Debug/net9.0/TechAgent.csproj.CoreCompileInputs.cache
TechAgent.API/obj/Debug/net9.0/TechAgent.csproj.FileListAbsolute.txt
TechAgent.API/obj/Debug/net9.0/TechAgent.csproj.Up2Date
TechAgent.API/obj/Debug/net9.0/TechAgent.dll
TechAgent.API/obj/Debug/net9.0/TechAgent.GeneratedMSBuildEditorConfig.editorconfig
TechAgent.API/obj/Debug/net9.0/TechAgent.genruntimeconfig.cache
TechAgent.API/obj/Debug/net9.0/TechAgent.GlobalUsings.g.cs
TechAgent.API/obj/Debug/net9.0/TechAgent.MvcApplicationPartsAssemblyInfo.cache
TechAgent.API/obj/Debug/net9.0/TechAgent.MvcApplicationPartsAssemblyInfo.cs
TechAgent.API/obj/Debug/net9.0/TechAgent.pdb
TechAgent.API/obj/Debug/net9.0/TechAgent.sourcelink.json
TechAgent.API/obj/Debug/net9.0/ref/TechAgent.dll
TechAgent.API/obj/Debug/net9.0/refint/TechAgent.dll
TechAgent.API/bin/Debug/net9.0/appsettings.json
TechAgent.API/bin/Debug/net9.0/appsettings.Development.json
